<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  {{ hugo.Generator }}

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:type" content="website" />
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Description }}" />
  <meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ .PublishDate }}" />
  {{- end }}
  {{ if .Params.thumbnail -}}
  <meta property="og:image" content="{{ .Site.BaseURL }}images{{ .Params.thumbnail }}"/>
  {{- end }}
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="identifier-url" content="{{ .Site.BaseURL }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}"/>
  <meta property="og:url" content="{{ .Permalink }}"/>

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts/font.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/fontawesome-all.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">

  <!-- RSS -->
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
