<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
	    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo.png" alt="{{ .Site.Title }} logo" /></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}An elegant open source and mobile first theme for <a href="http://hugo.spf13.com">hugo</a> made by <a href="http://twitter.com/mdo">@mdo</a>. Originally made for Jekyll.{{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><i class="fas fa-home"></i> <a href="{{ .Site.BaseURL }}">Home</a> </li>
      <li><i class="fas fa-id-card"></i> <a href="{{ .Site.BaseURL }}pages/about">About</a> </li>
      <li><i class="fas fa-rss-square"></i> <a href="{{ .Site.RSSLink }}">RSS Feed</a></li>
      <li><i class="fab fa-twitter-square"></i> <a href="https://twitter.com/{{ .Site.Params.twitter }}">{{ .Site.Params.twitter }}</a></li>
      <li><i class="fab fa-mastodon"></i> <a href="https://{{ .Site.Params.mastodon.instance }}/@{{ .Site.Params.mastodon.username }}">{{ .Site.Params.mastodon.username }}</a></li>
      <li><i class="fab fa-github"></i> <a href="{{ .Site.Params.github.url }}">{{ .Site.Params.github.username }}</a></li>
      <li><i class="fab fa-gitlab"></i> <a href="{{ .Site.Params.gitlab.url }}">{{ .Site.Params.gitlab.username }}</a></li>
      <li><i class="fas fa-envelope"></i> <a href=mailto:{{ .Site.Params.email }}>{{ .Site.Params.email }}</a></li>
      <li><i class="fas fa-key"></i> <a href="https://{{ .Site.Params.keyserver }}/pks/lookup?op=get&search=0x{{ replace .Site.Params.pgp " " "" }}">{{ .Site.Params.pgp }}</a></li>
      {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{- end }}
    </ul>

    <p><a href="http://www.wtfpl.net/about/"><img src="{{ .Site.BaseURL}}images/wtfpl-badge-4.png" alt="WTFPL" class="inline" /></a> {{ .Site.Params.author }}</p>

    <p class="small">Built with <a href="https://gohugo.io/">Hugo</a>, powered by <a href="https://git.abolivier.bzh/babolivier/hyde">Hyde</a></p>
  </div>
</div>
